// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//font lata
$font-lato: 'Lato', sans-serif;

//font arimo
$font-arimo: 'Arimo', sans-serif;





// importing core styling file
@import "../fontawesome/scss/fontawesome.scss";

// our project needs Solid + Brands
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";